<div class="row">
  <div class="col-sm-8">
    <ui-select ng-model="$parent.selected" theme="bootstrap" reset-search-input="true">
      <ui-select-match placeholder="Select a player to mimic...">{{$select.selected.displayName}}</ui-select-match>
      <ui-select-choices repeat="player in players | propsFilter: {displayName: $select.search}">
        <div ng-bind-html="player.displayName | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>

  <button ng-click="changeUser()" class="btn btn-default col-sm-2">Change!</button>
  <button ng-click="revertUser()" class="btn btn-default col-sm-2">Back To Normal</button>
</div>
<div class="row">
  <div class="col-sm-2">
    Players: {{playerCount}}
  </div>
  <div class="col-sm-2">
    Last 24 Hours: {{last24hours}}
  </div>
  <div class="col-sm-2">
    Last 7 Days: {{last7days}}
  </div>
  <div class="col-sm-2">
    Last 30 Days: {{last30days}}
  </div>
</div>
