<tabset justified="true" ng-controller="CreateCtrl">
  <tab heading="Single Player TS">
    <form ng-submit="" ng-controller="SinglePlayerCtrl">
      <div class="form-horizontal">
        <span>Create A Single Player Game</span>

        <div class="form-group">
          <div class="check-box">
            <input type="checkbox" ng-model="thieving">Thieving
          </div>
        </div>
      </div>
    </form>
  </tab>
  <tab heading="Two Player TS">
    <form ng-submit="" ng-controller="TwoPlayerCtrl">
      y
      <p>{{featureData}}</p>
    </form>
  </tab>
  <tab heading="3+ Players TS">
    3 or more
  </tab>
</tabset>
