<div class="row createGame">
  <!-- TODO - some of the tooltips are hard-coded here.  -->
  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-2">Number of Players:</label>

      <div class="col-sm-10">
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default form-control" ng-model="desiredPlayerCount" ng-click="setSinglePlayer()"
                 uib-btn-radio="'SinglePlayer'">
            Single Player
          </label>
          <label class="btn btn-default form-control" ng-model="desiredPlayerCount" ng-click="setTwoPlayers()"
                 uib-btn-radio="'TwoPlayer'">
            Two Players
          </label>
          <label class="btn btn-default form-control" ng-model="desiredPlayerCount" ng-click="setThreePlayers()"
                 uib-btn-radio="'ThreePlus'">
            3+ Players
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Puzzles Set By:</label>

      <div class="col-sm-10">
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default form-control" ng-model="wordPhraseSetter" uib-btn-radio="'SystemPuzzles'"
                 tooltip-placement="bottom" uib-tooltip="{{featureData.SystemPuzzles}}" tooltip-append-to-body="true">
            Generated Puzzles
          </label>
          <label class="btn btn-default form-control" ng-disabled="!h2hEnabled" ng-model="wordPhraseSetter"
                 uib-btn-radio="'Head2Head'" tooltip-placement="bottom" uib-tooltip="{{featureData.Head2Head}}"
                 tooltip-append-to-body="true">
            Head 2 Head
          </label>
          <label class="btn btn-default form-control" ng-disabled="!alternatingEnabled" ng-model="wordPhraseSetter"
                 uib-btn-radio="'AlternatingPuzzleSetter'" tooltip-append-to-body="true"
                 tooltip-placement="bottom" uib-tooltip="{{featureData.AlternatingPuzzleSetter}}">
            Alternating Player
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Game Ends When:</label>

      <div class="col-sm-10">
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default form-control" ng-disabled="!allFinishedEnabled" ng-model="winners"
                 uib-btn-radio="'AllComplete'" tooltip-append-to-body="true" tooltip-placement="bottom"
                 uib-tooltip="{{featureData.AllComplete}}">
            All Players Finish
          </label>
          <label class="btn btn-default form-control" ng-model="winners" uib-btn-radio="'SingleWinner'"
                 tooltip-placement="bottom" uib-tooltip="{{featureData.SingleWinner}}" tooltip-append-to-body="true">
            First Player Solves Puzzle
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Game Pace:</label>

      <div class="col-sm-10">
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default form-control" ng-model="gamePace" uib-btn-radio="'Live'"
                 tooltip-placement="bottom"
                 uib-tooltip="{{featureData.Live}}"
                 tooltip-append-to-body="true">
            Live
          </label>
          <label class="btn btn-default form-control" ng-disabled="!turnBasedEnabled" ng-model="gamePace"
                 uib-btn-radio="'TurnBased'" tooltip-append-to-body="true" tooltip-placement="bottom"
                 uib-tooltip="{{featureData.TurnBased}}">
            Turn Based
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">
        Allow Thieving:
      </label>

      <div class="col-sm-10">
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default form-control" ng-model="thieving" uib-btn-radio="'Thieving'"
                 tooltip-placement="bottom" uib-tooltip="{{featureData.Thieving}}"
                 tooltip-append-to-body="true">
            Yes
          </label>
          <label class="btn btn-default form-control" ng-model="thieving" uib-btn-radio="''" tooltip-placement="bottom"
                 uib-tooltip="Thieving is not allowed."
                 tooltip-append-to-body="true">
            No
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">
        Draw Face:
      </label>

      <div class="col-sm-10">
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default form-control" ng-model="drawFace" uib-btn-radio="'DrawFace'"
                 tooltip-placement="bottom" uib-tooltip="{{featureData.DrawFace}}"
                 tooltip-append-to-body="true">
            Yes
          </label>
          <label class="btn btn-default form-control" ng-model="drawFace" uib-btn-radio="''" tooltip-placement="bottom"
                 uib-tooltip="Face drawn automatically at end."
                 tooltip-append-to-body="true">
            No
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">
        Draw Gallows:
      </label>

      <div class="col-sm-10">
        <div class="btn-group btn-group-justified">
          <label class="btn btn-default form-control" ng-model="drawGallows"
                 uib-btn-radio="'DrawGallows'" tooltip-placement="bottom" uib-tooltip="{{featureData.DrawGallows}}"
                 tooltip-append-to-body="true">
            Yes
          </label>
          <label class="btn btn-default form-control" ng-model="drawGallows" uib-btn-radio="''"
                 tooltip-placement="bottom"
                 uib-tooltip="Game starts with gallows drawn."
                 tooltip-append-to-body="true">
            No
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" ng-show="playersEnabled">
      <label class="control-label col-sm-2">
        Include:
      </label>

      <div class="col-sm-8">
        <ui-select multiple ng-model="$parent.chosenFriends" theme="bootstrap" reset-search-input="true">
          <ui-select-match placeholder="Select friends...">{{$item.displayName}}</ui-select-match>
          <ui-select-choices repeat="friend in friends | propsFilter: {displayName: $select.search}">
            <div ng-bind-html="friend.displayName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <button type="button" class="btn btn-default col-sm-2 clearButton" ng-click="clearPlayers()"><span
        class="glyphicon glyphicon-remove"> Clear</span></button>
    </div>

    <div>
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-disabled="!submitEnabled" class="btn btn-default createButton" ng-click="createGame()">
          <span class="glyphicon glyphicon-play"> Go!</span>
        </button>
        <button type="button" ng-hide="invitableFBFriends.length == 0" class="btn btn-default createButton"
                ng-click="showInvite()">
          <span class="glyphicon glyphicon-user"> Invite Friends</span>
        </button>
      </div>
    </div>
  </form>
</div>

