<div class="gameButtonGroup">
  <div class="btn-group-vertical">
    <button class="btn-group btn gameButtonBadge"
            ng-click="switchHideGames()">
      <span class="pull-left">{{label}}</span>
      <span class="badge pull-right">{{games.length}}</span>
    </button>

  </div>
  <div class="btn-group-vertical {{hideGames ? 'hideGames' : 'showGames'}}" uib-collapse="hideGames">
    <a ng-repeat="game in games track by game.id | orderBy:['-lastUpdate', '-created']" href="#/show/{{game.id}}"
       role="button"
       class="btn-group btn gameButton {{style}}" id="{{game.id}}">
    <span class="glyphicon {{glyph}}">
            <span ng-repeat="(key, value) in game.players">{{value}}, </span>
            <span>{{gameDetails.shortGameDescription(game)}}</span>
      </span>
    </a>
  </div>
</div>
