<div class="gameButtonGroup">
  <div class="btn-group-vertical">
    <button class="btn-group btn gameButtonBadge" ng-click="switchHideGames()">{{label}}
      <span class="badge pull-right">{{games.length}}</span>
    </button>

  </div>
  <div class="btn-group-vertical {{hideGames ? 'hideGames' : 'showGames'}}" collapse="hideGames">
    <!--  TODO - display more infomation about game options  -->
    <a ng-repeat="game in games | orderBy:['-lastUpdate', '-created']" href="#/show/{{game.id}}" role="button"
       class="btn-group btn gameButton {{style}}">
    <span class="glyphicon {{glyph}}">
            <span ng-repeat="(key, value) in game.players">{{value}}<span ng-show=" ! $last ">, </span></span>
      </span>
    </a>
  </div>
</div>
