<div class="popupAd">
  <div class="modal-header">
    <h3 class="modal-title">Message from sponsors</h3>
  </div>
  <div class="modal-body">
    <!--/* Ad4Game iFrame Tag */-->
    <iframe src='//ads.ad4game.com/www/delivery/afr.php?zoneid=51331' framespacing='0' frameborder='no' scrolling='no'
            width='300' height='250'>
      <a href='http://ads.ad4game.com/www/delivery/dck.php?n=a8003240' target='_blank'>
        <img src='//ads.ad4game.com/www/delivery/avw.php?zoneid=51331&amp;n=a8003240' border='0' alt=''/>
      </a>
    </iframe>
  </div>
  <div class="modal-footer">
    <h3 class="modal-title" ng-hide="showContinue">{{message}}</h3>
    <button class="btn btn-warning" ng-show="showContinue" ng-click="play()">Continue</button>
  </div>
</div>
