<table>
  <tbody>
  <tr>
    <td rowspan="5">
      <img ng-src="images/{{image}}"/>
    </td>
    <td>
      <label>Status:</label>
    </td>
    <td>
      {{game.gamePhase}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Started:</label>
    </td>
    <td>
      {{created |date:'short'}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Last Update:</label>
    </td>
    <td>
      {{lastUpdate |date:'short'}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Penalties Remaining:</label>
    </td>
    <td>
      {{gameState.penaltiesRemaining}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Moves:</label>
    </td>
    <td>
      {{gameState.moveCount}}
    </td>
  </tr>

  <!--  End Picture  -->
  </tbody>
</table>
<div ng-show="sharedScope.game.gamePhase === 'Playing'" ng-controller="PlayCtrl">
  <p>
    {{gameState.category}}
  </p>

  <p>
        <span ng-repeat="position in workingWordPhraseArray track by $index"
              class="wordphrase {{workingWordPhraseClasses[$index]}}" ng-click="stealLetter({{$index}})" onfocus="">{{position}}</span>
  </p>

  <p>
      <span ng-repeat="letter in letters track by $index" ng-click="sendGuess('{{letter}}')"
            class="keyboard {{letterClasses[$index]}}"> {{letter}} </span>
  </p>
  <!--  TODO - disable stealing and keyboard when individual game is over but still playing... show word phrase on lost-->
</div>
<div ng-show="sharedScope.game.gamePhase === 'Challenge' || sharedScope.game.gamePhase === 'Declined'">
  <table>
    <thead>
    <tr>
      <th>Player</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(md5, state) in sharedScope.game.playerStates | orderBy:state">
      <td>{{sharedScope.game.players[md5]}}</td>
      <td>{{state}}</td>
    </tr>
    <tr ng-show="sharedScope.game.playerStates[sharedScope.player.md5] === 'Pending'">  <!--ng-show="showButtons()"-->
      <td>
        <button ng-click="accept()" class="btn"><span class="glyphicon glyphicon-thumbs-up"></span>Accept</button>
      </td>
      <td>
        <button ng-click="reject()" class="btn"><span class="glyphicon glyphicon-thumbs-down">Reject</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div ng-show="sharedScope.game.gamePhase === 'Rematch' || sharedScope.game.gamePhase === 'Rematched'"
     ng-controller="GameSummaryCtrl">
  <table>
    <thead>
    <tr>
      <th>Player</th>
      <th>Role</th>
      <th>Outcome</th>
      <th>Score</th>
      <th>Running Score</th>
    </tr>
    <tr ng-repeat="(md5, name) in sharedScope.game.players">
      <td>{{name}}</td>
      <td>{{roleForPlayer(md5)}}</td>
      <td>{{gameEndForPlayer(md5)}}</td>
      <td>{{gameScoreForPlayer(md5)}}</td>
      <td>{{runningScoreForPlayer(md5)}}</td>
    </tr>
    </thead>
  </table>
</div>
<div ng-show="game.gamePhase === 'Rematch'">
  <button ng-click="startRematch()">Start Rematch</button>
</div>
