<table>
  <tbody>
  <tr>
    <td rowspan="5">
      <img ng-src="images/{{image}}"/>
    </td>
    <td>
      <label>Status:</label>
    </td>
    <td>
      {{game.gamePhase}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Started:</label>
    </td>
    <td>
      {{created |date:'short'}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Last Update:</label>
    </td>
    <td>
      {{lastUpdate |date:'short'}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Penalties Remaining:</label>
    </td>
    <td>
      {{gameState.penaltiesRemaining}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Moves:</label>
    </td>
    <td>
      {{gameState.moveCount}}
    </td>
  </tr>

  <!--  End Picture  -->
  </tbody>
</table>
<div ng-show="sharedScope.game.gamePhase === 'Playing'" ng-controller="PlayCtrl">
  <p>
    {{gameState.category}}
  </p>

  <p>
        <span ng-repeat="position in workingWordPhraseArray track by $index"
              class="wordphrase {{workingWordPhraseClasses[$index]}}" ng-click="stealLetter({{$index}})" onfocus="">{{position}}</span>
  </p>

  <p>
      <span ng-repeat="letter in letters track by $index" ng-click="sendGuess('{{letter}}')"
            class="keyboard {{letterClasses[$index]}}"> {{letter}} </span>
  </p>
  <!--  TODO - disable stealing and keyboard when individial game is over but still playing... show word phrase on lost-->
</div>
<div ng-show="sharedScope.game.gamePhase === 'Rematch' || sharedScope.game.gamePhase === 'Rematched'">
  <p>show score and final game state</p>
</div>
<div ng-show="sharedScope.game.gamePhase === 'Rematch'" ng-controller="RematchCtrl">
  <button ng-click="startRematch()">Start Rematch</button>
</div>
