<!--  Applixir, customized by adding z-index  -->
<div id="applixir_vanishing_div" style="position:absolute; top: 1%; left: 1%; margin: -250px -316px; z-index: 9999">
    <iframe width="8px" height="8px" name="applixir_iframe" id="applixir_vanishing_frame"
            src="/applixir_richmediaframe_f1f6ba399dfbd5e75b301bb824519d18.html" frameborder=0
            ALLOWTRANSPARENCY="true"></iframe>
</div>
<div class="col-sm-2 sidebar">
    <div class="btn-group-vertical gameButtonGroup" ng-show="createRefreshEnabled">
        <a href="#/create" role="button" class="btn-group btn gameButton createGameButton">
            <span class="glyphicon glyphicon-plus"></span>
            <span>Start New Series</span>
        </a>
    </div>

    <twisted-game-button ng-controller="SetupGames" ng-show="games.length > 0"></twisted-game-button>
    <twisted-game-button ng-controller="RoundOverGames" ng-show="games.length > 0"></twisted-game-button>
    <twisted-game-button ng-controller="ChallengedGames" ng-show="games.length > 0"></twisted-game-button>
    <twisted-game-button ng-controller="PlayingGames" ng-show="games.length > 0"></twisted-game-button>
    <twisted-game-button ng-controller="NextRoundStartedGames" ng-show="games.length > 0"></twisted-game-button>
    <twisted-game-button ng-controller="DeclinedGames" ng-show="games.length > 0"></twisted-game-button>
    <twisted-game-button ng-controller="QuitGames" ng-show="games.length > 0"></twisted-game-button>
</div>


