@import "variables";

.header {
  img {
    height: 30px;
    width: 30px;
  }
  margin-bottom: 0;
  a {
    text-decoration: none;
  }

  h3 {
    line-height: 20px;
    padding-bottom: 10px;
  }

  .text-muted {
    color: $et_richbrowndark;
    small {
      color: $et_richbrowndark;
    }
  }

  .nav {
    > li {
      > a {
        font-weight: bold;
        color: #ffffff;
        padding: 5px 10px;
      }
    }
  }
  .nav > li > a:hover {
    background-color: $et_bluedark;
  }

  .nav > li > a:focus {
    background-color: $et_bluemedium;
  }

  .alertDiv {
    background-color: $et_richbrownlight;
    color: #ffffff;

    .alertButton {
      .btn {
        padding: 4px 10px;
        background-color: $et_richbrownlight;

        .alertBadge {
          background-color: red;
          font-size: x-small;
          position: relative;
          top: -5px;
        }
      }
      :hover {
        background-color: $et_bluedark;
      }

      :focus {
        background-color: $et_bluemedium;
      }
    }

    .dropdown-menu {
      right: 0;
      left: auto;

      li {
        :hover {
          background-color: $et_bluedark;
        }
      }
    }

  }

}
