$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "variables";
@import "general";
@import "playsection";
@import "game-bar";
@import "header";
@import "create";
@import "invite";

//  current scheme based on http://www.creativecolorschemes.com/resources/free-color-schemes/earth-tone-color-scheme.shtml
body {
  background-color: $et_richbrownlight;
}

.image-area img {
  align-content: center;
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

.carousel-inner {
  .carousel-caption {
    color: red;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 35px;
  }
}

.carousel-indicators {
  color: red;
  bottom: 10px;
  li {
    border-color: red;
  }
  .active {
    background-color: red;
  }
}

.carousel-control {
  color: red;
}
