//  current scheme based on http://www.creativecolorschemes.com/resources/free-color-schemes/earth-tone-color-scheme.shtml
$et_flatbrowndark: #493829;
$et_flatbrownmedium: #816c5b;
$et_flatbrownlight: #a9a18c;

$et_richbrowndark: #613318;
$et_richbrownmedium: #855723;
$et_richbrownlight: #b99c6b;

$et_orangedark: #8f3b1b;
$et_orangemedium: #d57500;
$et_orangelight: #d8ca69;

$et_greendark: #404f24;
$et_greenmedium: #668d3c;
$et_greenlight: #bdd09f;

$et_bluedark: #4e6172;
$et_bluemedium: #83929f;
$et_bluelight: #a3adb8;

