@import "variables";
@import "compass/css3/opacity";

.createGame {
  margin-right: 15px;

  .btn-default {
    color: #ffffff;
    padding: 6px 6px;
    font-weight: bold;
    border-radius: 4px;
    background-color: $et_greenlight;
  }
  .btn-default.active {
    background-color: $et_greenmedium;
  }
  .btn-default:hover {
    background-color: $et_greendark;
  }
  .btn-default[disabled] {
    @include opacity(0.2);
    background-color: $et_flatbrownlight;
    color: #000000;
  }

  .ui-select-match-item.btn.btn-default {
    background-color: $et_greenmedium;
  }

  .createButton {
    background-color: $et_greenmedium;
  }
  .clearButton {
    background-color: $et_greenmedium;
  }

}
