// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/typography/text/force-wrap";
@import "variables";

.game-bar {
  width: 100%;
  .game-button-group {
    width: 100%;
    margin: 2px;

    .create-game-button {
      background-color: $et_bluedark;
      color: #ffffff;
    }
  }

  .create-new-game {
    padding: 10px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    font-weight: bold;
  }

  .list-group-games {
    margin: 0;
    .list-group-item {
      margin-top: 5px;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;
      font-weight: bold;
      padding: 10px 10px;
      border: none;
      color: white;
    }

    .badge {
      background-color: $et_orangemedium;
    }
  }

  .btn-group-older-games {
    background-color: $et_richbrowndark;
    color: #ffffff;
  }

  .btn-group-your-move {
    background-color: $et_greenmedium;
    color: #ffffff;
  }

  .btn-group-their-move {
    background-color: $et_bluemedium;
    color: #ffffff;
  }

  .btn-group-games {
    width: 100%;

    .game-wrapper {
      width: 100%;
    }
    .btn-group-game {
      width: 100%;
      color: black;
      padding: 2px;
      alignment: left;
      text-align: left;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;
      font-weight: bold;
      border-color: $et_flatbrownlight;
      .player-image {
        margin: 3px 1px;
        width: 30px;
        height: 30px;
        display: inline-block;
        @media (max-width: $screen-sm-max) {
          width: 25px;
          height: 25px;
        }
      }

      .game-features {
        width: 100%;
        .game-feature {
          font-size: 11px;
        }
      }
    }

    .btn-group-game-older-games {
      background-color: $et_richbrownmedium;
    }

    .btn-group-game-your-move {
      background-color: $et_greenlight;
    }

    .btn-group-game-their-move {
      background-color: $et_bluelight;
    }
  }

  .list-group-hidden {
    display: none;
  }

}
