@import "variables";
.header {
  margin-bottom: 0;
  a {
    text-decoration: none;
  }

  h3 {
    line-height: 20px;
    padding-bottom: 10px;
  }

  .text-muted {
    color: $et_richbrowndark;
    small {
      color: $et_richbrowndark;
    }
  }

  .nav > li > a:hover {
    background-color: $et_richbrownmedium;
  }
}
