.stolenwp {
  color: red;
}

.stealablewp {
  /*  TODO  */
}

.badguesskb {
  color: red;
}

.guessedkb {
  color: green;
}

.wordphrase {
  font-size: large;
  letter-spacing: 3px;
}

.keyboard {
  font-family: monospace, serif;
  font-size: large;
  letter-spacing: 3px;
}

