/*
html * {
  margin: 0;
  background-color: #c4e3f3;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-group-vertical {
  width: 100%;
}

.btn-group {
  border: 1px;
  alignment: left;
  border-style: solid;
  text-align: left;
  padding: 4px;
}

.playingButton {
  background-color: #ac2925;
  color: #008800;
}

.playingButton * {
  background-color: #ac2925;
  color: #008800;
}
*/

.stolenwp {
  color: red;
}

.stealablewp {
  /*  TODO  */
}

.badguesskb {
  color: red;
}

.guessedkb {
  color: green;
}

.wordphrase {
  font-size: large;
  letter-spacing: 3px;
}

.keyboard {
  font-size: large;
}

.playerselect {
  margin: 4px;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  overflow: auto;
  float: left;
  overflow-scrolling: auto;
}

.playerselect label {
  float: left;
}

.playerselect label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
}

.playerselect label input {
  position: absolute;
  top: -20px;
}

.playerdisabled {
  background-color: lightgray;
}

.playerselected {
  background-color: darkgreen;
  color: #000000;
}

