html * {
  margin: 0;
  background-color: #c4e3f3;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-group-vertical {
  width: 100%;
}

.btn-group {
  border: 1px;
  alignment: left;
  border-style: solid;
  text-align: left;
  padding: 4px;
}

.playingButton {
  background-color: #ac2925;
  color: #008800;
}

.playingButton * {
  background-color: #ac2925;
  color: #008800;
}

.stolenwp {
  color: red;
}

.stealablewp {
  /*  TODO  */
}

.badguesskb {
  color: red;
}

.guessedkb {
  color: green;
}

.wordphrase {
  font-size: large;
  letter-spacing: 3px;
}

.keyboard {
  font-size: large;
}

