$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "general";
@import "playsection";
@import "sidebarbuttons";
@import "header";

//  current scheme based on http://www.creativecolorschemes.com/resources/free-color-schemes/earth-tone-color-scheme.shtml
body {
  background-color: #a9a18c;
}

.header .text-muted {
  color: #855753;
  small {
    color: #855753;
  }
}

.imagearea img {
  align-content: center;
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}

.alert {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
