html * {
  margin: 0;
  background-color: #e1c29d;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-group-vertical {
  width: 100%;
}

.btn-group {
  border: 1px;
  alignment: left;
  border-style: solid;
  text-align: left;
  padding: 4px;
}

.activeGameButton {
  background-color: #ac2925;
  color: #008800;
}

.activeGameButton span {
  background-color: #ac2925;
}




