@import "compass/typography/text/force-wrap";
@import "variables";

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: block;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}

.gameButtonGroup {
  width: 100%;
  margin: 2px;
  cursor: alias;

  .gameButtonBadge {
    font-weight: bold;
    width: 100%;
    .badge {
      background-color: $et_orangelight;
      color: black;
    }
  }

  .gameButton {
    padding: 4px;
    alignment: left;
    text-align: left;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    font-weight: bold;
    span {
      span {
        font-weight: bold;
      }
    }
  }

  .createGameButton {
    background-color: $et_bluedark;
    color: #ffffff;
  }

  .refreshButton {
    background-color: $et_greenlight;
    color: #ffffff;
  }

  .declinedButton {
    background-color: $et_richbrowndark;
    color: #ffffff;
  }

  .quitButton {
    background-color: $et_orangedark;
    color: #ffffff;
  }

  .roundoverButton {
    background-color: $et_greenmedium;
    color: #ffffff;
  }

  .nextroundstartedButton {
    background-color: $et_richbrownmedium;
    color: #ffffff;
  }

  .playingButton {
    background-color: $et_greendark;
    color: #ffffff;
  }

  .challengedButton {
    background-color: $et_orangelight;
    color: #ffffff;
  }

  .setupButton {
    background-color: $et_bluemedium;
    color: #ffffff;
  }
}

